*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #695CFE;
    --text-color: #fff;
}

nav{
    margin-top: 10px;
    background-color: #E4E9F7;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


li{
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 45px;
    padding: 14px 40px;
    margin: 0 15px;
    list-style: none;
    height: 48px;
    
}

#login-button {
    background-color: var(--background-color);
    border-radius: 45px;
    color: #fff;
    padding: 14px 40px;
    margin: 0 15px;
    height: 48px;
}

#navi-list{
    margin: 0;
    width: 1600px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-brand{
    flex-shrink: 0;
    width: 300px;
    margin-left: 50px;
}

.fa-solid.fa-robot.fa-3x{
    color: var(--background-color);
}







