*{
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: 600;
    color: white;
    box-sizing: border-box;
    background-color: rgb(26, 46, 68) ;
}


#container-nav{
    border-radius: 45px;
    border: 2px solid white;
    height: 200px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#container-content{
    border-radius: 45px;
    border: 2px solid white;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
}

.item-movie-mood{
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 45px;
    border: 2px solid white;
    background-color: rgb(34, 209, 114);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-title{
    margin-left: 15px;
    font-size: 50px;
    margin: auto;
}

#main-img{
    margin-left: 40px;
}

.emoji {
    background-color: transparent; /* Gwarantuje, że tło jest przezroczyste */
}

.mood-type{
    background-color: transparent; /* Gwarantuje, że tło jest przezroczyste */
}
